.container_12 {
	height:2000px;
}

ul {
  font-size:16px;
}

h1 {
	padding-bottom:15px;
}

h4 {
  color: #fff;
  font-family:'Aldo';
  font-size:3em;
  letter-spacing:.04em;
  text-align:center;
  text-shadow: 1px 1px 0px #000, 4px 4px 0px rgba(20,20,20,.4)!important;
  padding-bottom:40px;
}

#content-container {
	padding:80px 0px 0px 0px;
}

.bottom-pad {
	padding-bottom:50px;
}

#green-shorts-header {
  padding: 50px 0 30px 0;
}

#mixed-logo {
  background: url(../img/mixed-logo.png) no-repeat 0 0;
  width:175px;
  height:148px;
  position: relative;
  top: -77px;
  right: -30px;
}

#mixed-header {
  margin-left: 27px;
}

#and {
  margin-left: -100px;
}

#present h4{
  margin-top: -85px;
  margin-left: 400px;
}

#facebook-mixed {
  position: relative;
  top: 7px;
  left: 50px;
  background: url(../img/facebook-mixed.png) no-repeat 0 0;
  margin-top: -20px;
  height:60px;
  width:60px;
}

#facebook-mixed:hover {
  background: url(../img/facebook-mixed-white.png) no-repeat 0 0;
  margin-top: -20px;
}

#twitter-mixed {
  position: relative;
  top: 7px;
  right: 50px;
  background: url(../img/twitter-mixed.png) no-repeat 0 0;
  margin-top: -20px;
  height:60px;
  width:60px;
}

#twitter-mixed:hover {
	background: url(../img/twitter-mixed-white.png) no-repeat 0 0;
	margin-top: -20px;
}


#categories img {
	float:left;
	margin:-3px 5px 0px 0px;
}

#prizes {
	padding-bottom:100px;
}

#prizes img {
	float: left;
	margin:-7px 5px 0px 0px;
}

.checks img {
  float: left;
  margin:-20px 5px 0px -11px;
}

#form img{
  float: left;
  margin:-7px 5px 0px -11px;
}

#format img{
  float: left;
  margin:-10px 5px 0px -11px;
}

#upload img{
  float: left;
  margin:-10px 5px 0px -11px;
}

#films img{
  float: left;
  margin:-10px 5px 0px -11px;
}

address {
  padding-top:10px;
}

#form p, #format p, #upload p {
  padding-bottom:10px;
}




