@import "960";
@import "normalize";
@import "variables";



/*
******************************
* =@fontface
******************************
*/

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
 font-weight:normal;font-style:normal;

  font-family:'Aldo';
  src:  url('../fonts/Aldo_PC.eot?')format("eot"),
        url('../fonts/Aldo_PC.woff') format("woff"),
        url('../fonts/Aldo_PC.ttf') format("truetype"),
        url('../fonts/Aldo_PC.svg#Aldo-SemiBold') format("svg");}



/*
******************************
* =General Styles
******************************
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #2F5B82;
  color: #fff;
  font-size: 16px;
  font-family: "museo-slab-1","Lucida Grande",Arial,Verdana;
  line-height:1.5em;
}

a {
  border-bottom: 1px dotted #fff;
  color: #fff;
  text-decoration:none;
  cursor: pointer;
}

a:hover {
  color: $yellow;
}

p {
  margin-bottom:20px;
  font-size:1.2em;
  line-height:1.5em;
}

ol {
  padding-left: 25px;
    li {
    padding-bottom: 10px;
    list-style: decimal;
  }
}

.container_12 {
  position: relative;
}

.container_12 .grid_5 {
  z-index: -9999;
  width: 380px;
}

header {
  position: fixed;
  z-index:9999;
  margin: 0 auto;
  padding: 30px 0 0 0;
  width: 100%;
}

#facebook {
  margin-top: -20px;
  width:60px;
  height:60px;
  background: url(../img/facebook.png) no-repeat 0 0;
}

#facebook:hover {
  margin-top: -20px;
  background: url(../img/facebook-inverse.png) no-repeat 0 0;
}

#twitter {
  margin-top: -20px;
  width:60px;
  height:60px;
  background: url(../img/twitter.png) no-repeat 0 0;
}

#twitter:hover {
  margin-top: -20px;
  background: url(../img/twitter-inverse.png) no-repeat 0 0;
}

#navbar {
  position: relative;
  left: -10px;
  height:48px;
  background: url(../img/banner.png) no-repeat 0 40%;
}

h1 {
  height: 50px;
  text-align:center;
  text-shadow: 1px 1px 0px #000, 6px 6px 0px rgba(20,20,20,.4)!important;
  letter-spacing:.08em;
  font-size: 3.8em;
  font-family:'Aldo';
}

#logo h1 a{
  border-bottom: none;
}

#logo a:hover {

}

h2 {
  margin-bottom: 20px;
  padding-bottom:20px;
  border-bottom: 2px solid white;
  color: #fff;
  text-align:center;
  text-shadow: 1px 1px 0px #000, 4px 4px 0px rgba(20,20,20,.4)!important;
  letter-spacing:.04em;
  font-size:3em;
  font-family:'Aldo';
}

h3 {
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  border-left: 8px solid rgb(44, 149, 0);
  background: rgb(1, 36, 59);
  text-shadow: 1px 1px 0px #000, 2px 2px 0px rgba(20,20,20,.4)!important;
  letter-spacing: .1em;
  font-style: italic;
  font-size:1.6em;
  font-family:'Aldo';
}

nav {
  padding-top:12px;
}

.active a {
  border-bottom:1px solid $yellow;
  color:$yellow;
}

nav a {
  float: left;
  margin-left:63px;
  border-bottom: none;
  background-color:transparent;
  color: white;
  text-decoration:none;
  font-size:1.3em;
  font-family: "museo-slab-1","Lucida Grande",Arial,Verdana;
}

.content-container {
  padding-top:250px;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  margin-left: .3em;
  padding: 10px 10px;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #D5544F;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-decoration:none;
  font-size: 1em;
  line-height: 18px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: pointer;
}

.btn:hover {
  background-color: #bd362f;
  background-position: 0 -15px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/*
******************************
* =sections
******************************
*/

#welcome {
  height:920px;
  /* background: red; */
}

#about {
  /* margin-top:500px; */
  height:920px;
  /* background: red; */
}

#membership {
  /* margin-top:500px; */
  height:920px;
  /* background: red; */
}

#events {
  /* margin-top:500px; */
  height:920px;
  /* background: red; */
}

#links {
  /* margin-top:500px; */
  height:920px;
  /* background: red; */
}

#contact {
  /* margin-top:500px; */
  height:909px;
  /* background: red; */
}

.top-please {
  margin-top: 15px;
  border: none;
  color: $yellow;
}

/*
******************************
* =membership
******************************
*/

#print-icons h4{
}

#pdf-icon{
  width: 64px;
  height: 64px;
  background: url(../img/pdf.png) no-repeat 0 0;
}

#word-icon{
  width: 64px;
  height: 64px;
  background: url(../img/word.png) no-repeat 0 0;
}

.left {
  float:left;
}

.right {
  float: right;
}

/*
******************************
* =contact form
******************************
*/


input[type="text"], input[type="email"], textarea {
  margin-bottom: 10px;
  padding: 7px 2px 7px 3px;
  width: 98%;
  border: none;
  background-color:#446B8E;
  color: #fff;
}

textarea {
  height:196px;
}

address {
  padding-bottom:40px;
}


/*
******************************
* =footer
******************************
*/

footer {
  height: 50px;
}

footer span {
  float: left;
}

footer span:last-of-type {
  float: right;
}


@import "fruit-cake";
@import "animations";



